.snapshot {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

.snapshot__single {
    display: flex;
    padding: 1em;
    background: rgba(67, 72, 76, 0.9);
    justify-content: space-between;
   
    clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
    border: 1px solid #f99e1a;
    height: 100px;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    margin: 0.5em;
  }

  .snapshotColumn {
      flex-basis: 100%;
      border: 1.5px solid #f99e1a;
      padding: 2em;
      background: rgba(67, 72, 76, .5);
  }

  .snapshot__map {
    display: flex;
    padding: 1em;
    margin: 0.5em;
    background: rgba(67, 72, 76, 0.9);
    padding-left: 5em;
    padding-right: 5em;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
    border: 1px solid #f99e1a;
    height: 100px;
    justify-content: space-evenly;
  }

.snapshotCategory {
    display: inline;
    color: #f99e1a;
    font-size: large;
}

.snapshotInput {
    display: inline;
    color: darkgray;
    font-style: italic;
}

.mapBorder {
    border: 1px dashed #f99e1a;
    padding: 1em;
}