body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/blue-polygon-bg.jpg");
  background-size: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
  color: #f99e1a;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 60px;
  font-style: italic;
  margin-bottom: -20px;
}

.subtitle {
  text-align: center;
  color: #43484c;
  font-size: 20px;
  font-style: italic;
}
